@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(77, 134, 156); */
  direction: rtl;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Tajawal', sans-serif; */
  background-color: #f3f2ef;
  position: relative;
}

.nav {
  @apply transition-all duration-200 text-zinc-600 hover:text-black hover:font-medium ;
}
.bef {
  position: relative;
}
.bef::after {
  content: "";
  bottom: 0;
  right: 10;
  position: absolute;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
  background-color: rgb(0, 0, 0);
  width: 4%;
  height: 2px;
}
.nav:hover::after  {
  transform: scaleX(20.5);
}


